<div class="row w-100">
  <div class="col-lg-6" style="background: #faf9ff">
    <!-- Header -->
    <div class="row p-3">
      <div class="col-lg-2">
        <span
          ><img class="menubtn" src="../../../../assets/icons/menu.svg" alt=""
        /></span>
      </div>
      <div class="col-lg-7">
        <h4>Contacts</h4>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <div class="col-3 offset-3">
            <img
              class="menubtn"
              src="../../../../assets/icons/leftarrow.svg"
              alt=""
            />
          </div>
          <div class="col-6">
            <img
              class="menubtn"
              src="../../../../assets/icons/rightarrow.svg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <!-- Search -->
    <div class="row p-3">
      <div class="col-12">
        <div class="form-outline mb-4">
          <input
            type="search"
            class="form-control"
            id="datatable-search-input"
            placeholder="Search for a contact"
            (keyup)="search($event)"
          />
        </div>
      </div>
    </div>
    <!-- Contact List -->

    <div
      class="row p-3"
      *ngFor="let contact of contactslisting | paginate: { itemsPerPage: count, currentPage: p }"
      (click)="details(contact)"
    >
      <div class="col-lg-1">
        <p><img src="{{ contact?.image }}" alt="" /></p>
      </div>
      <div class="col-lg-8">
        <p>
          {{ contact?.username }} <br /><small>{{
            contact?.designation
          }}</small>
        </p>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <div class="col-4">
            <img src="../../../../assets/icons/msgsicon.svg" alt="" />
          </div>
          <div class="col-4">
            <img src="../../../../assets/icons/phoneicon.svg" alt="" />
          </div>
          <div class="col-4">
            <img src="../../../../assets/icons/submenu.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="text-right">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>

  <div class="col-lg-6 p-4" *ngIf="display">
    <app-contact-details [data]="data"></app-contact-details>
  </div>
</div>
